{% extends "base.html" %}
{% block content %}
<div class="description">
    <h1>Welcome to Fenco's Furniture</h1>
    <h3>{{data}}</h3>
</div>
<div class="container">
    <div class="gallery">
        <div class="image">
            <img src="/images/1.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/2.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/3.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/4.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/5.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/6.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/7.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/8.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/9.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/10.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/11.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/12.jpg">
            <div class="image_overlay">
                <div class="image_title">
                    <a href="#">View Products</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 